@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hammersmith+One&family=Rubik&family=Russo+One&display=swap');


body {
    background: rgb(44, 44, 44);
    color: dodgerblue;
}

h1 {
    text-align: center;

    font-family: "Russo One";
    font-size: 15vmin;

    background: dodgerblue;
    color: rgb(44, 44, 44);
}

h2 {
    font-family: "Bungee";
    font-family: 8vmin;

    color: dodgerblue;

    text-align: center;
    text-decoration: underline;
}

.info-list {
    font-size: 5vmin;
    font-family: "Hammersmith One";
    margin: 0 10vmax;
}

.info {
    display: flex;
    margin: 0 5vmax;
}

.info-name {
    color: #3E78B2;
    width: 50vw;
}

.info-item {
    color: #72DDF7
}